node_modules/
packages/core/dist/
packages/angular/dist/
packages/vue/dist/
packages/react/dist/
demo/angular/dist/
demo/vue/dist/
demo/react/dist/
demo/dist/
all.js

# github-page build artifacts
_site/
/docs/
*.tgz
